#opcoes{
	text-align: center;
	background-color: #F5DEB3;
	height: 50px;
}
#opcoes2{
	text-align: center;
	background-color: #FFFFFF;
}

#menu {	
	text-align: center;
	background-color: #A9A9A9;
	color: black;
	border: 0px solid black;
}

#principal{
	background-color: #A9A9A9;
	text-align: justify;
	color: black;
	border: 0px solid black;
}

#rodape{
	background-color: #A9A9A9;
	text-align: center;
	border: 0px solid black;
	color: black;
}
#table{
	border: 0px red;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
td{
	border: 0px solid black;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
tr{
	border: 0px solid black;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
p{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}
#table{

	text-align: center;
	padding: 50px;
	border: 0px solid black;
}
#imagem1{
	float: left;
}
#imagem2{
	float: right;
}